<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>用户列表</title>
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
<h1>欢迎进入网站内容页面</h1>
<h2>欢迎 ： <span  th:text="${session.user}?${session.user.getUsername()}:'（您未登录）'" ></span> </h2>
<table>
    <tr>
        <th>ID</th>
        <th>网站标题</th>
        <th>网站地址</th>
        <th>创建时间</th>
        <th>标志</th>

    </tr>
    <tr th:each="website : ${websites}">
        <td th:text="${website.id}"></td>
        <td th:text="${website.websitename}"></td>
        <td th:text="${website.websiteaddress}"></td>
        <td th:text="${website.createTime}"></td>
        <td th:text="${website.flag}"></td>
    </tr>
</table>

<select>
    <option th:each="website:${websites}" th:value="${website.id}" th:text="${website.websitename}">我是默认值</option>
</select>

</body>
</html>